{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "react": {
      "version": "18.2.0"
    }
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "airbnb-base",
    "airbnb-typescript",
    "prettier"
  ],
  "rules": {
    // https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#eslint
    "react/jsx-uses-react": "off", // no need to import React starts from React v.17.0 version
    "react/react-in-jsx-scope": "off", // no need to import React starts from React v.17.0 version
    "import/prefer-default-export": "off",
    "no-console": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off"
  }
}
