.n-popover {
  $padding: 0 7px 0 7px;
  font-size: 12px;

  // antd redefinitions
  .ant-popover {
    &-title {
      min-width: 40px;
      min-height: 0;
      padding: $padding;
      border: none;
    }

    &-arrow {
      // get rid off the arrow
      display: none;
    }

    &-inner-content {
      padding: $padding;
      color: rgba(255, 255, 255, 0.443);
    }
  }
}
